/* personal-add-dialog.component.css */
mat-dialog-title {
    background-color: #007bff;
    color: white;
    padding: 16px;
    font-size: 1.25em;
  }
  
  mat-dialog-content {
    padding: 16px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    margin-right: 8px;
  }
  
  button.mat-button {
    background-color: #f44336;
    color: white;
  }
  
  button.mat-button:hover {
    background-color: #d32f2f;
  }
  