<div class="container mt-5">
    <div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
        <h1>Gestión de Empleados</h1>
        <button class="btnEmpleado">Agregar Empleado</button>
        </div>
        <table class="table table-striped mt-3">
            
        <thead>
            <tr>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Fecha de Ingreso</th>
            <th>Estado Activo</th>
            <th>Estado Civil</th>
            <th>Nro de Identidad</th>
            <th>Tipo de Documento</th>
            <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            
            <tr *ngFor="let empleado of empleados">
            <td>{{ empleado.nombre }}</td>
            <td>{{ empleado.apellidoPaterno }}</td>
            <td>{{ empleado.apellidoMaterno }}</td>
            <td>{{ empleado.email }}</td>
            <td>{{ empleado.telefono }}</td>
            <td>{{ empleado.direccion }}</td>
            <td>{{ empleado.fechaIngreso | date:'dd/MM/yy HH:mm:ss' }}</td>
            <td><input type="checkbox" [checked]="empleado.activo" disabled></td>
            <td>{{ empleado.estadoCivil }}</td>
            <td>{{ empleado.nroIdentidad }}</td>
            <td>{{ empleado.tipoDocumento }}</td>
            <td>
            </td>
            </tr>
        </tbody>
        </table>
    </div>
    <table mat-table [dataSource]="data" class="mat-elevation-z8">
      <!-- Implicit Column -->
      <ng-container matColumnDef="$implicit">
        <th mat-header-cell *matHeaderCellDef> $implicit </th>
        <td mat-cell *matCellDef="let data"> {{data}} </td>
      </ng-container>
    
      <!-- Index Column -->
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> index </th>
        <td mat-cell *matCellDef="let index = index"> {{index}} </td>
      </ng-container>
    
      <!-- Count Column -->
      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef> count </th>
        <td mat-cell *matCellDef="let count = count"> {{count}} </td>
      </ng-container>
    
      <!-- First Column -->
      <ng-container matColumnDef="first">
        <th mat-header-cell *matHeaderCellDef> first </th>
        <td mat-cell *matCellDef="let first = first"> {{first}} </td>
      </ng-container>
    
      <!-- Last Column -->
      <ng-container matColumnDef="last">
        <th mat-header-cell *matHeaderCellDef> last </th>
        <td mat-cell *matCellDef="let last = last"> {{last}} </td>
      </ng-container>
    
      <!-- Even Column -->
      <ng-container matColumnDef="even">
        <th mat-header-cell *matHeaderCellDef> even </th>
        <td mat-cell *matCellDef="let even = even"> {{even}} </td>
      </ng-container>
    
      <!-- Odd Column -->
      <ng-container matColumnDef="odd">
        <th mat-header-cell *matHeaderCellDef> odd </th>
        <td mat-cell *matCellDef="let odd = odd"> {{odd}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
      
    </div>
</div>
