header h1{
    margin: 0;
    font-size: 2em;
}

.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    
}
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table {
    margin-top: 20px;
}

.btnEmpleado {
    background-color: #007bff;
    align-self: center;
    margin-top: 20px;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-body {
    padding: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.mat-table-styled {
    width: 100%;
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
}

.action-buttons {
    display: flex;
    gap: 8px; /* Espacio entre botones */
    justify-content: center;
  }
  
  button {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    font-size: 14px;
  }
  
  button mat-icon {
    margin-right: 8px; /* Espacio entre el icono y el texto */
  }
  