<div class="container">
<header>
    <h1>Horarios</h1>
    <p>Hora actual: {{ currentTime }}</p>
    <button class="create-new">Crear</button>
</header>

<table>
    <thead>
    <tr>
        <th>Lunes</th>
        <th>Martes</th>
        <th>Miercoles</th>
        <th>Jueves</th>
        <th>Viernes</th>
        <th>Sabado</th>
        <th>Domingo</th>
        <th>Hingreso</th>
        <th>Hsalida</th>
        <th>Empleado</th>
        <th>Area</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let horario of horarios">
        <td>X</td>
        <td>X</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>O</td>
        <td>{{ horario.hingreso }}</td>
        <td>{{ horario.hsalida }}</td>
        <td>{{ horario.empleado }}</td>
        <td>{{ horario.area }}</td>
        <td>
        <button class="edit-btn">Edit</button>
        <button class="delete-btn">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
</div>
