<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
    </button>
    <span (click)="irHome()">Muni Chorrillos</span>&nbsp;&nbsp;
    &nbsp;&nbsp;
    <button mat-flat-button (click)="irEmpleado()">Empleado</button>
    &nbsp;&nbsp;
    <button mat-flat-button (click)="irHorario()">Horario</button>
    &nbsp;&nbsp;
    <button mat-flat-button (click)="irPersonal()">Personal</button>
    &nbsp;&nbsp;
    <button mat-flat-button (click)="irMulta()">Multa</button>
    &nbsp;&nbsp;
    <button mat-flat-button (click)="irArea()">Area</button>
    &nbsp;&nbsp;
    <button mat-flat-button (click)="irDeposito()">Deposito</button>
    &nbsp;&nbsp;
    <button mat-flat-button (click)="irControl()">Control</button>
    &nbsp;&nbsp;
    <button mat-flat-button (click)="irComprobante()">Comprobante</button>
    &nbsp;&nbsp;
    <button mat-flat-button (click)="irUsuario()">Usuario</button>
    &nbsp;&nbsp;
    <span class="example-spacer"></span>
    <button (click)="Salir() "mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
<hr />

<router-outlet> </router-outlet>